## EDA on Call Center Data

In [31]:
#imports

import pandas as pd
import numpy as np
import os

In [32]:
cwd = os.getcwd()

df = pd.read_excel(cwd+"/Call-Center-Dataset.xlsx")

In [33]:
df

,Call Id,Agent,Date,Time,Topic,Answered (Y/N),Resolved,Speed of answer in seconds,AvgTalkDuration,Satisfaction rating
0,ID0001,Diane,2021-01-01,09:12:58,Contract related,Y,Y,109.0,00:02:23,3.0
1,ID0002,Becky,2021-01-01,09:12:58,Technical Support,Y,N,70.0,00:04:02,3.0
2,ID0003,Stewart,2021-01-01,09:47:31,Contract related,Y,Y,10.0,00:02:11,3.0
3,ID0004,Greg,2021-01-01,09:47:31,Contract related,Y,Y,53.0,00:00:37,2.0
4,ID0005,Becky,2021-01-01,10:00:29,Payment related,Y,Y,95.0,00:01:00,3.0
...,...,...,...,...,...,...,...,...,...,...
4995,ID4996,Jim,2021-03-31,16:37:55,Payment related,Y,Y,22.0,00:05:40,1.0
4996,ID4997,Diane,2021-03-31,16:45:07,Payment related,Y,Y,100.0,00:03:16,3.0
4997,ID4998,Diane,2021-03-31,16:53:46,Payment related,Y,Y,84.0,00:01:49,4.0
4998,ID4999,Jim,2021-03-31,17:02:24,Streaming,Y,Y,98.0,00:00:58,5.0
4999,ID5000,Diane,2021-03-31,17:39:50,Contract related,N,N,NaN,NaN,NaN

In [34]:
#change the column name for answered call
df.rename(columns={'Answered (Y/N)':'Answered'}, inplace=True)

In [35]:
df.head()

,Call Id,Agent,Date,Time,Topic,Answered,Resolved,Speed of answer in seconds,AvgTalkDuration,Satisfaction rating
0,ID0001,Diane,2021-01-01,09:12:58,Contract related,Y,Y,109.0,00:02:23,3.0
1,ID0002,Becky,2021-01-01,09:12:58,Technical Support,Y,N,70.0,00:04:02,3.0
2,ID0003,Stewart,2021-01-01,09:47:31,Contract related,Y,Y,10.0,00:02:11,3.0
3,ID0004,Greg,2021-01-01,09:47:31,Contract related,Y,Y,53.0,00:00:37,2.0
4,ID0005,Becky,2021-01-01,10:00:29,Payment related,Y,Y,95.0,00:01:00,3.0

In [36]:
#checkign the info

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Call Id                     5000 non-null   object
 1   Agent                       5000 non-null   object
 2   Date                        5000 non-null   object
 3   Time                        5000 non-null   object
 4   Topic                       5000 non-null   object
 5   Answered                    5000 non-null   object
 6   Resolved                    5000 non-null   object
 7   Speed of answer in seconds  4054 non-null   float64
 8   AvgTalkDuration             4054 non-null   object
 9   Satisfaction rating         4054 non-null   float64
dtypes: float64(2), object(8)
memory usage: 390.8+ KB

We have null values for Speed of Answers, AvgTalkDuration and Satisfaction ratings. We need to change the datatype of "Date","Time and "AvgTalkDuration" from Object to DateTime.

In [37]:
df['Speed of answer in seconds'].isnull().value_counts()

False    4054
True      946
Name: Speed of answer in seconds, dtype: int64

In [38]:
df[df['Speed of answer in seconds'].isnull()]

,Call Id,Agent,Date,Time,Topic,Answered,Resolved,Speed of answer in seconds,AvgTalkDuration,Satisfaction rating
5,ID0006,Stewart,2021-01-01,10:00:29,Technical Support,N,N,NaN,NaN,NaN
10,ID0011,Joe,2021-01-01,11:15:22,Payment related,N,N,NaN,NaN,NaN
17,ID0018,Becky,2021-01-01,11:57:07,Admin Support,N,N,NaN,NaN,NaN
18,ID0019,Jim,2021-01-01,12:01:26,Streaming,N,N,NaN,NaN,NaN
22,ID0023,Martha,2021-01-01,12:02:53,Technical Support,N,N,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
4991,ID4992,Joe,2021-03-31,14:13:55,Streaming,N,N,NaN,NaN,NaN
4992,ID4993,Joe,2021-03-31,14:18:14,Admin Support,N,N,NaN,NaN,NaN
4993,ID4994,Greg,2021-03-31,14:58:34,Contract related,N,N,NaN,NaN,NaN
4994,ID4995,Dan,2021-03-31,15:33:07,Payment related,N,N,NaN,NaN,NaN
4999,ID5000,Diane,2021-03-31,17:39:50,Contract related,N,N,NaN,NaN,NaN

In [39]:
df['Satisfaction rating'].value_counts()

3.0    1218
4.0    1180
5.0     843
1.0     417
2.0     396
Name: Satisfaction rating, dtype: int64

In [40]:
# number of calls that were answered or responded
df[df['Answered'] =="Y"]

,Call Id,Agent,Date,Time,Topic,Answered,Resolved,Speed of answer in seconds,AvgTalkDuration,Satisfaction rating
0,ID0001,Diane,2021-01-01,09:12:58,Contract related,Y,Y,109.0,00:02:23,3.0
1,ID0002,Becky,2021-01-01,09:12:58,Technical Support,Y,N,70.0,00:04:02,3.0
2,ID0003,Stewart,2021-01-01,09:47:31,Contract related,Y,Y,10.0,00:02:11,3.0
3,ID0004,Greg,2021-01-01,09:47:31,Contract related,Y,Y,53.0,00:00:37,2.0
4,ID0005,Becky,2021-01-01,10:00:29,Payment related,Y,Y,95.0,00:01:00,3.0
...,...,...,...,...,...,...,...,...,...,...
4990,ID4991,Stewart,2021-03-31,13:46:34,Streaming,Y,Y,73.0,00:06:26,1.0
4995,ID4996,Jim,2021-03-31,16:37:55,Payment related,Y,Y,22.0,00:05:40,1.0
4996,ID4997,Diane,2021-03-31,16:45:07,Payment related,Y,Y,100.0,00:03:16,3.0
4997,ID4998,Diane,2021-03-31,16:53:46,Payment related,Y,Y,84.0,00:01:49,4.0
4998,ID4999,Jim,2021-03-31,17:02:24,Streaming,Y,Y,98.0,00:00:58,5.0

In [41]:
df['Date'] = pd.to_datetime(df['Date'])
df['Time'] = pd.to_datetime(df['Time'])
df['AvgTalkDuration'] = pd.to_datetime(df['AvgTalkDuration'])

TypeError: <class 'datetime.time'> is not convertible to datetime